pyramid==1.5.7
pyramid_debugtoolbar==2.4
pyramid_tm==0.12
SQLAlchemy==1.0.4
transaction==1.4.4
zope.sqlalchemy==0.7.6
waitress==0.8.9
psycopg2==2.6
pyramid_jinja2==2.5
WTForms==2.0.2
paginate_sqlalchemy==0.2.0
WebTest
pyramid-multiauth==0.5.0