{% extends "base.jinja2" %}
{% block content %}

<h3>Employees</h3>

    <a class="btn btn-default" href="{{ request.route_url('employee_add') }}" role="button">Add Employee</a>
    <hr>

    <table class="table">
            <thead>
                <tr>
                  <th><a href="{{ request.route_url('employee_view') + '?sort=hr_employees_first_name' }}">Name</a></th>
                  <th><a href="{{ request.route_url('employee_view') + '?sort=hr_departments_department_name' }}">Department</th>
                  <th><a href="{{ request.route_url('employee_view') + '?sort=hr_employees_salary' }}">Salary</a></th>
                  <th><a href="{{ request.route_url('employee_view') + '?sort=hr_employees_hire_date' }}">Hire Date</a></th>
                  <th><a href="{{ request.route_url('employee_view') + '?sort=hr_employees_end_date' }}">End Date</a></th>
                </tr>
            <tbody>
                {% for employee, department in employees %}
                <tr>
                    <td><a href="{{ request.route_url('employee_edit', emp_id=employee.employee_id) }}">
                         {{ employee.first_name + ' ' + employee.last_name }} </a></td>
                    <td> {{ department.department_name }} </td>
                    <td> {{ employee.salary }} </td>
                    <td> {{ employee.hire_date }} </td>
                    <td> {{ employee.end_date or '' }} </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    <ul class="pagination pagination-center">
        <li>{{ employees.pager(format='$link_first$link_previous~2~$link_next$link_last',
                curpage_attr={ 'class':'active' },
                dotdot_attr={ 'class':'disabled' })|safe }}</li>
    </ul>

{% endblock %}